flows/Package_Installer.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_Installation_Function</name>
        <label>Run Installation Function</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <actionName>copado__RunCopadoFunction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Result_ID</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Create_Functions</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>functionApiName</name>
            <value>
                <stringValue>install_2G_package</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parametersJSON</name>
            <value>
                <elementReference>Function_Parameters</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>showValidationErrors</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_Result_Records</name>
        <label>Update Result Records</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <actionName>Install2GPackage</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Installations_Created</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>packageId</name>
            <value>
                <elementReference>Package_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>resultIds</name>
            <value>
                <elementReference>Function_Result_IDs</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Save_Result_ID</name>
        <label>Save Result ID</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Function_Result_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Run_Installation_Function</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Functions</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>Function_Parameters</name>
        <dataType>String</dataType>
        <expression>&apos;[ {  &quot;name&quot; : &quot;packageID&quot;,  &quot;value&quot; : &quot;&apos; &amp; {!Package_ID} &amp;  &apos;&quot;}, { &quot;name&quot;:&quot;sessionID&quot;, &quot;value&quot;:&quot;{$RecordId.Credential.SessionId}&quot;}, { &quot;name&quot;:&quot;endpointID&quot;, &quot;value&quot;:&quot;{$RecordId.Credential.Endpoint}&quot;}]&apos;</expression>
    </formulas>
    <interviewLabel>Package Installer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>2nd Generation Package Installer</label>
    <loops>
        <name>Create_Functions</name>
        <label>Create Functions</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Run_Installation_Function</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Result_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Installations_Created</name>
        <label>Installations Created</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinishText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;The installation Functions have been created and you can follow their progress by &lt;a href=&quot;/lightning/o/copado__Result__c/list?filterName=Recent&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;watching their Result objects&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Package_Information</name>
        <label>Package Information</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Functions</targetReference>
        </connector>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Enter the 2nd Generation Package ID you would like to install on the selected Environments.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Package_ID</name>
            <dataType>String</dataType>
            <fieldText>Package ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Package_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Function_Result_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record IDs from the List View</description>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
