flows/X2nd_Generation_Package_Deployment_Step.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Installation_Function</name>
        <label>Create Installation Function</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>copado__RunCopadoFunction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Function_Result</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Get_Environment.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>functionApiName</name>
            <value>
                <stringValue>install_2G_package</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parametersJSON</name>
            <value>
                <elementReference>Function_Parameters</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>showValidationErrors</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <formulas>
        <name>Function_Parameters</name>
        <dataType>String</dataType>
        <expression>&apos;[ {  &quot;name&quot; : &quot;packageID&quot;,  &quot;value&quot; : &quot;&apos; &amp; {!packageId} &amp;  &apos;&quot;}, { &quot;name&quot;:&quot;sessionID&quot;, &quot;value&quot;:&quot;{$RecordId.Credential.SessionId}&quot;}, { &quot;name&quot;:&quot;endpointID&quot;, &quot;value&quot;:&quot;{$RecordId.Credential.Endpoint}&quot;}]&apos;</expression>
    </formulas>
    <formulas>
        <name>Result_Description</name>
        <dataType>String</dataType>
        <expression>&apos;Installing package &apos; &amp; {!packageId} &amp; &apos; in &apos; &amp; {!Get_Environment.Name}</expression>
    </formulas>
    <interviewLabel>2nd Generation Package Deployment Step {!$Flow.CurrentDateTime}</interviewLabel>
    <label>2nd Generation Package Deployment Step</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Environment</name>
        <label>Get Environment</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Installation_Function</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Org_Credential.copado__Environment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Environment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Function_Result</name>
        <label>Get Function Result</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Function_Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Installation_Function</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Org_Credential</name>
        <label>Get Org Credential</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Environment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orgId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Org__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Function_Result</name>
        <label>Update Function Result</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Installation_Function</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Description__c</field>
            <value>
                <elementReference>Result_Description</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Org_Credential</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>orgId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>packageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
